<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Ordisoftware.Hebrew.Letters.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.ConnectionString"
            connectionString="Dsn=Hebrew-Letters" providerName="System.Data.Odbc" />
        <add name="Ordisoftware.Hebrew.Letters.Properties.Settings.ConnectionString"
            connectionString="Dsn=Hebrew-Letters" providerName="System.Data.Odbc" />
    </connectionStrings>
    <userSettings>
        <Ordisoftware.Hebrew.Letters.Properties.Settings>
            <setting name="MainFormPosition" serializeAs="String">
                <value>Center</value>
            </setting>
            <setting name="MainFormLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainFormTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainFormWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainFormHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainFormState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="ConfirmClosing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowTips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CurrentView" serializeAs="String">
                <value>Analyse</value>
            </setting>
            <setting name="CopyToClipboardCloseApp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckUpdateAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LanguageSelected" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="FontSizeSentence" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ESCtoExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GrammarGuideFormLocation" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="GrammarGuideFormSize" serializeAs="String">
                <value>542, 666</value>
            </setting>
            <setting name="VacuumAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MethodNoticeFormLocation" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="MethodNoticeFormSize" serializeAs="String">
                <value>542, 666</value>
            </setting>
            <setting name="AutoSortAnalysisMeanings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstLaunchV4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebuggerEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HebrewTextBoxMaxLength" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="VacuumLastDone" serializeAs="String">
                <value>2000-01-01</value>
            </setting>
            <setting name="WebLinksMenuEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckUpdateLastDone" serializeAs="String">
                <value>2000-01-01</value>
            </setting>
            <setting name="TraceFormLocation" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="TraceFormSize" serializeAs="String">
                <value>884, 661</value>
            </setting>
            <setting name="TraceFormTextBoxFontSize" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="TraceEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoundsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AdvancedDialogBoxes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StatisticsFormAlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StatisticsFormLocation" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="BenchmarkStartingApp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BenchmarkLoadData" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CheckUpdateAtStartupDaysInterval" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="ApplicationVolume" serializeAs="String">
                <value>100</value>
            </setting>
        </Ordisoftware.Hebrew.Letters.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
