<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Ordisoftware.HebrewLetters.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.ConnectionString"
            connectionString="Dsn=Hebrew-Letters" providerName="System.Data.Odbc" />
        <add name="Ordisoftware.HebrewLetters.Properties.Settings.ConnectionString"
            connectionString="Dsn=Hebrew-Letters" providerName="System.Data.Odbc" />
    </connectionStrings>
    <userSettings>
        <Ordisoftware.HebrewLetters.Properties.Settings>
            <setting name="MainFormPosition" serializeAs="String">
                <value>Center</value>
            </setting>
            <setting name="MainFormLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainFormTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainFormWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainFormHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainFormState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="ConfirmClosing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowTips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CurrentView" serializeAs="String">
                <value>Analyse</value>
            </setting>
            <setting name="CopyToClipboardCloseApp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckUpdateAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="FontSizeSentence" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ESCtoExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GrammarGuideFormLocation" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="GrammarGuideFormSize" serializeAs="String">
                <value>392, 466</value>
            </setting>
            <setting name="VacuumAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MethodNoticeFormLocation" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="MethodNoticeFormSize" serializeAs="String">
                <value>392, 466</value>
            </setting>
            <setting name="AutoSortAnalysisMeanings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstLaunchV4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebuggerEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HebrewTextBoxMaxLength" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="VacuumLastDone" serializeAs="String">
                <value />
            </setting>
        </Ordisoftware.HebrewLetters.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
